.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  z-index: 2;
}

.blog-link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding-right: 15%;
}

.navbar-logo {
  height: 2rem;
  padding-left: 10%;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
    padding-top: 3rem;
  }

  .blog-link {
    padding-right: 0;
  }

  .navbar-logo {
    padding-left: 0;
  }
}
