.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  z-index: 2;
}

.blog-link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding-right: 15%;
}

.navbar-logo {
  height: 2rem;
  padding-left: 10%;
}
